body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width:10em;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.score-text{
    font-size:1em;
}

.button-container{
    display: flex;
    gap: 2em;
    padding:2em;
}

.score-container{
    display: flex;
    gap: 1em;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1em;
}

